@model XinBlog.Models.Article
@{
    if(Model != null)
    {
        ViewBag.Title = Model.Title;
        ViewBag.MetaTitle = Model.MetaTitle;
        ViewBag.MetaDescription = Model.MetaDescription;
        ViewBag.Tags = Model.Tags;
    }
}
@section styles{
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/screen.css?v=82931f6358" />
}


<!-- start site's main content area -->
<section class="content-wrap" style="margin-top:2em">
    <div class="container">
        <div class="row">
            <main class="col-md-12 main-content">
                <article id="67" class="post tag-laravel-5 tag-getting-started-with-laravel tag-laravel-5-2">
                    <header class="post-head">
                        <h1 class="post-title">@Model.Title</h1>
                        <section class="post-meta">
                            <span class="author">阅读次数：@Model.ReadCount</span> &bull;
                            <time class="post-date">@Model.CreateDate.Date.ToString("yyyy年MM月dd日")</time>
                        </section>
                    </header>
                    @if (!string.IsNullOrEmpty(Model.AbstractImg))
                    {
                        <section class="featured-media">
                            <img src="@Model.AbstractImg" alt="@Model.Title">
                        </section>
                    }
                    <section class="post-content">
                        @Html.Raw(Model.Content)
                    </section>
                    <footer class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-tags"></i>
                            @{
                                if (Model.Tags != null)
                                {
                                    var ts = Model.Tags.Split(',');
                                    foreach (var t in ts)
                                    {
                                        <a href="/tag/@t/">@t</a>
                                    }
                                }
                            }
                        </div>
                        <div class="pull-right share">
                        </div>
                    </footer>
                </article>
                @if (ViewBag.IsPre != null)
                {
                    <div class="prev-next-wrap clearfix">
                        @if (ViewBag.PrvId != 0)
                        {
                            <a class="btn btn-default" href="/Blog/Article/@ViewBag.PrvId"><i class="fa fa-angle-left fa-fw"></i>@ViewBag.PrvTitle</a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="/Blog/"><i class="fa fa-angle-left fa-fw"></i> 这是最后一篇</a>
                        }

                        &nbsp;
                        @if (ViewBag.NextId != 0)
                        {
                            <a class="btn btn-default" href="/Blog/Article/@ViewBag.NextId">@ViewBag.NextTitle <i class="fa fa-angle-right fa-fw"></i></a>
                        }
                        else
                        {
                            <a class="btn btn-default" href="/Blog/">这是第一篇 <i class="fa fa-angle-right fa-fw"></i></a>
                        }
                    </div>
                   

                }

                @if (!string.IsNullOrEmpty(ViewBag.CommentPlugin))
                {
                <div class="post tag-laravel-5 tag-getting-started-with-laravel tag-laravel-5-2">

                    @Html.Raw(ViewBag.CommentPlugin)

                </div>
                }
            </main>           
        </div>
    </div>
</section>
