
@model IEnumerable<XinBlog.Models.ArticleShowMeta>
@{
    ViewBag.Title = "标签云";
}
@section styles{
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/8.5/styles/monokai_sublime.min.css">
    <link href="//cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/screen.css?v=82931f6358" />
}

@section scripts{
    <script src="~/Scripts/list.js"></script>
}

<!-- start site's main content area -->
<section class="content-wrap" style="margin-top:2em">
    <div class="container">
        <div class="row">
            <main class="col-md-12 main-content">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <article class="post tag-about-ghost tag-release featured" id="@item.Id">
                            @if (item.IsRecommend)
                            {
                                <div title="推荐文章" class="featured">
                                    <i class="fa fa-star"></i>
                                </div>
                            }
                            <div class="post-head">
                                <h1 class="post-title"><a href="/Home/Article/@item.Id">@item.Title</a></h1>
                                <div class="post-meta">
                                    <time class="post-date">@item.CreateDate.Date.ToString("yyyy年MM月dd日")</time>
                                </div>
                            </div>
                            @if (item.AbstractImg != null && item.AbstractImg != "")
                            {
                                <div class="featured-media">
                                    <a href="/Home/Article/@item.Id">
                                        <img src="@item.AbstractImg" alt="@item.Title">
                                    </a>
                                </div>
                            }
                            <div class="post-content">
                                @item.Abstract
                            </div>
                            <div class="post-permalink">
                                <a class="btn btn-default" href="/Home/Article/@item.Id">阅读全文</a>
                            </div>

                            <footer class="post-footer clearfix">
                                <div class="pull-left tag-list">
                                    <i class="fa fa-tags"></i>
                                    @{
                                        if (item.Tags != null)
                                        {
                                            var ts = item.Tags.Split(',');
                                            foreach (var t in ts)
                                            {
                                                <a href="/home/tags/@t/">@t</a>
                                            }
                                        }
                                    }
                                </div>
                                <div class="pull-right share">
                                </div>
                            </footer>
                        </article>
                                        }

                                        <nav class="pagination" role="navigation">
                                            @if (@ViewBag.PageIndex > 1)
                                            {
                                                <a class="older-posts" href="javascript:;" id="pre"><i class="fa fa-angle-left"></i></a>
                                            }
                                            <span class="page-number">第 @ViewBag.PageIndex 页 &frasl; 共 @ViewBag.PageCount 页</span>
                                            @if (@ViewBag.PageIndex < @ViewBag.PageCount)
                                            {
                                                <a class="older-posts" href="javascript:;" id="next"><i class="fa fa-angle-right"></i></a>
                                            }
                                        </nav>
                                        }
            </main>
        </div>
    </div>
</section>
<form action="/Home/TagList" id="list" method="post">
    <input name="pageIndex" type="hidden" id="pageIndex" value="@ViewBag.PageIndex" />
    <input name="tag" type="hidden" id="pageIndex" value="@ViewBag.Tag" />
</form>